---
// IMPORTING ATOMS
import H1 from "../../atoms/H1.astro"
import Paragraph from "../../atoms/Paragraph.astro"
---
<!-- Section for the 'About' content with top padding -->
<section class="pt-20">
    <!-- Container for the content with vertical spacing -->
    <div class="space-y-6">
        <!-- Heading component for the 'About' section -->
        <H1>About</H1>
        <!-- Paragraph component with placeholder text -->
        <Paragraph>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatibus praesentium nihil alias error rem beatae natus pariatur iure quasi adipisci molestiae, quas accusamus possimus fuga voluptas omnis illo distinctio fugiat. Repellat repellendus possimus neque esse asperiores voluptatibus vero quis nostrum, commodi quas modi error accusantium dolor consequatur placeat nemo quisquam molestiae iste deleniti pariatur! Molestias culpa mollitia ullam nobis aliquam, dolor officia sint, facere voluptates, incidunt voluptas? Alias tempore minima illo, iure at architecto reprehenderit debitis libero eaque optio obcaecati fuga adipisci suscipit recusandae amet itaque blanditiis dolore autem dolores voluptatum facilis! Molestiae harum beatae fugiat quibusdam dolore non similique, magni, sunt laudantium id ut molestias incidunt perferendis doloremque rem temporibus, saepe nihil placeat eaque quidem soluta autem. Aliquid, quis dicta repellat maiores quisquam culpa earum accusantium dignissimos perferendis voluptates dolore odio laboriosam iusto harum quae distinctio ipsum iure animi! Perspiciatis soluta, iste incidunt ipsum eaque consequatur dolorem recusandae non at illo suscipit sunt quod, aliquam enim veritatis consequuntur dolor possimus inventore eius est doloremque pariatur! Odit molestias aperiam ullam quibusdam veritatis iste eos omnis unde tenetur est deserunt assumenda, quia tempore saepe! Magnam blanditiis iusto officia hic similique fugit accusantium quas eveniet possimus iste iure provident quam tempora corporis, asperiores sunt quos necessitatibus deleniti pariatur! Amet officia fugit, optio saepe ipsa est possimus, minus molestias deserunt reprehenderit enim? Tempora, perspiciatis facere! Nostrum ipsa debitis quaerat enim delectus. Harum mollitia earum, dignissimos perferendis aut veritatis atque. Ad, nesciunt. Itaque, soluta at facere dolore rem praesentium autem. Fuga vero magni consectetur iusto recusandae consequatur nesciunt, soluta ut explicabo. Qui ea hic iusto est, ut et nam labore. Aperiam obcaecati animi nostrum adipisci doloribus ipsum architecto ad magni natus alias, tempore quas veniam, amet a unde, sint blanditiis tenetur maxime temporibus nemo eveniet. Nobis accusantium optio explicabo eaque quod minus illo.</Paragraph>
    </div>
</section>
