---
// IMPORTING COMPONENTS
import BlogsItem from "./BlogsItem.astro"
---
<!-- Section containing a grid layout -->
<section class="grid grid-cols-3 gap-8 py-10">
    <!-- Displaying BlogsItem components in a grid layout -->
    <BlogsItem
        title="Worth A Thousand Words"
        href="/sub-page"
        src="/images/boat.jpg"
        alt="boat"
        sub_title="Boat"
        text="Boat."
    />
    <BlogsItem
        title="Worth A Thousand Words"
        href="/sub-page"
        src="/images/boat.jpg"
        alt="boat"
        sub_title="Boat"
        text="Boat."
    />
    <BlogsItem
        title="Worth A Thousand Words"
        href="/sub-page"
        src="/images/boat.jpg"
        alt="boat"
        sub_title="Boat"
        text="Boat."
    />
    <BlogsItem
        title="Worth A Thousand Words"
        href="/sub-page"
        src="/images/boat.jpg"
        alt="boat"
        sub_title="Boat"
        text="Boat."
    />
    <BlogsItem
        title="Worth A Thousand Words"
        href="/sub-page"
        src="/images/boat.jpg"
        alt="boat"
        sub_title="Boat"
        text="Boat."
    />
    <BlogsItem
        title="Worth A Thousand Words"
        href="/sub-page"
        src="/images/boat.jpg"
        alt="boat"
        sub_title="Boat"
        text="Boat."
    />
</section>
