---
// IMPORTING COMPONENTS
import BlogsItem from "./BlogsItem.astro"
---
<!-- Section containing a grid layout -->
<section class="grid grid-cols-3 gap-8 py-10">
    <!-- Displaying BlogsItem components in a grid layout -->
    <BlogsItem
        title="Worth A Thousand Words"
        href="/blog"
        src="/images/boat.jpg"
        alt="boat"
        description="Lorem, ipsum dolor sit amet consectetur adipisicing elit."
        date="October 17, 2008"
    />
    <BlogsItem
        title="Worth A Thousand Words"
        href="/blog"
        src="/images/boat.jpg"
        alt="boat"
        description="Lorem, ipsum dolor sit amet consectetur adipisicing elit."
        date="October 17, 2008"
    />
    <BlogsItem
        title="Worth A Thousand Words"
        href="/blog"
        src="/images/boat.jpg"
        alt="boat"
        description="Lorem, ipsum dolor sit amet consectetur adipisicing elit."
        date="October 17, 2008"
    />
    <BlogsItem
        title="Worth A Thousand Words"
        href="/blog"
        src="/images/boat.jpg"
        alt="boat"
        description="Lorem, ipsum dolor sit amet consectetur adipisicing elit."
        date="October 17, 2008"
    />
    <BlogsItem
        title="Worth A Thousand Words"
        href="/blog"
        src="/images/boat.jpg"
        alt="boat"
        description="Lorem, ipsum dolor sit amet consectetur adipisicing elit."
        date="October 17, 2008"
    />
    <BlogsItem
        title="Worth A Thousand Words"
        href="/blog"
        src="/images/boat.jpg"
        alt="boat"
        description="Lorem, ipsum dolor sit amet consectetur adipisicing elit."
        date="October 17, 2008"
    />
</section>
