---
// IMPORTING ATOMS
import H2 from "../../atoms/H2.astro"

// Destructuring props from the Astro context
const {

    title,
    src,
    alt,
    description,
    date,
    href

} = Astro.props
---
<div>
    <!-- Heading 2 with a link -->
    <H2 href={ href }>{ title }</H2>
    <div>
        <!-- Image container with specific dimensions and aspect ratio -->
        <div class="w-full aspect-[3/2] py-4">
            <img
                src={ src }
                alt={ alt }
                class="w-full h-full object-cover"
            />
        </div>
        <!-- Bottom border and description below the image -->
        <div class="border-b border-black pb-3">
            <p class="font-inconsolata italic">{ description }</p>
        </div>
    </div>
    <!-- date -->
    <div class="py-10">
        <p class="font-inconsolata text-lg">{ date }</p>
    </div>
</div>