---
// Destructuring specific props from the Astro component's props
const { href, date, title } = Astro.props
---
<div>
    <!-- Anchor element linking to the specified 'href' -->
    <a href={ href }>
        <!-- Date information with specific styling -->
        <p class="font-inconsolata text-sm font-semibold uppercase hover:underline">{ date }</p>
        <!-- Separator line below the date -->
        <div class="h-[2px] bg-black w-full my-[2px]"></div>
        <!-- Title information with hover effect for underlining -->
        <p class="font-inconsolata text-sm hover:underline">{ title }</p>
        <!-- Separator line below the title -->
        <div class="h-[2px] bg-black w-full my-[2px]"></div>
    </a>
</div>
